<!DOCTYPE html>
<html>
  <head>
    <title>Rails5AngularAndTurbolinksDemo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag '//code.angularjs.org/1.5.8/angular.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag '//code.angularjs.org/1.5.8/angular-resource.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
